
:root {
    /* Sizes */
    font-size: 12px;
    

    /* Colors */
   

    /* Special colors */
   
  
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* BODY */

.body{
    background-image: url("/img/background.jpg");
    background-size: cover;
}

/* HEADER */

.header { 
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
    background-image: url("/img/background-wood.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    border: black 1px solid;
}

.header-img{
    position: absolute;
    left: 1rem;
}

.header-logo{
    position: relative;
    top: 7rem;
    height: 20rem;
    opacity: .8;
}

.header-content{
    text-align: center;

}

.header-content-img{
    position: relative;
    top: 10px;
    height: 9rem;
  

}


/* MAIN DIV */


.menu{
    width: 20%;
    border: 1px solid gray;
}

.main {
    display: flex;
    justify-content: space-between;
}

.art-title{
    text-align: center;
    font-size: 30px;
}

.articles{
    width: 100%;
}

.article-list{
    display : grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    gap: 10px;
    padding: 50px 10px;
}

.article-item{
    background-image: url("/img/livre.png");
    background-size: cover;
    /* border: 1px solid black; */
    height: 250px;
}

.article-link{
    display: flex;
    height: 100%;
}

.article-img{
    position: relative;
    top: 60px;
    left: 35px;
    width: 130px;
    height: 130px;
}

.art-info{
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 42px;
}

.art-stock{
    font-size: 30px;
}

.cart-section {
    background-image: url("/img/parch-panier-test.png");
    background-size: 380px;
    background-position: top 10px center;
    background-repeat: no-repeat;
    /* border: 1px grey solid; */
    width: 20%;
    height:calc(100vh - 8rem);
}

.cart-ttl {
    position: relative;
    bottom: 8px;
    margin-top: 2rem;
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    font-size: 3rem;
    width: 100%;
}

.final-cart-ul{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.active-cart{
    text-align: center;
    height: 51%;
    overflow-y: scroll;
}

/* .cart-price{
    background-image: url("/img/panneau-price.png");
    background-size:cover ;
    height: 28%;
    background-position: top -30px center;
} */

.img-draco{
    position: absolute;
    right: 25px;
    bottom: 0px;
    width: 380px;
    overflow: hidden;
}

.articleCart{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 65%;
    border-bottom: black 1px solid;
}

.cart-img{
    width: 60px;
}

.cart-art-info{
    display: flex;
    flex-direction: column;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
}

.cross-button{
    height: 17px;
}

/* .footer{

}

.img-flamme{

} */
