
:root {
    /* Sizes */
    font-size: 12px;
    

    /* Colors */
   

    /* Special colors */
   
  
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* HEADER */

.header {
    height: 5rem;
    width: 100%;
    border: 1px black solid;
}








.main {
    display: flex;
    justify-content: space-between;
}
h1 {
    
}

.cart-section {
    border: 1px grey solid;
    width: 25rem;
    height:calc(100vh - 5rem);
}
.chart-ttl {
    margin-top: 2rem;
    text-align: center;
}