
:root {
    /* Sizes */
    font-size: 12px;
    

    /* Colors */


    /* Special colors */
   
  
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(/img/img-de-fond.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


button {
    /* border: none; */
    background: none;
}

/* BODY */

.body{
    background-image: url("../img/background.jpg");
    background-size: cover;
}

/* HEADER */

.header { 
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
    background-image: url("../img/background-wood.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    border: black 1px solid;
}

.header-img{
    position: absolute;
    left: 1rem;
}

.header-logo{
    position: relative;
    top: 7rem;
    z-index: 10;
    height: 20rem;
    opacity: .8;
}

.header-content{
    text-align: center;

}

.header-content-img{
    position: relative;
    top: 10px;
    height: 9rem;
}

.client-label {
    position: relative;
    top: -3rem;
    left: 46rem;
    font-size: 2rem;
}
.client-input {
    height: 2.8rem;
    border-radius: 1rem;
    border: none;
}


/* MAIN DIV */

.main {
    display: flex;
    justify-content: space-between;
}

.menu{
    position:relative;
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
}

.admin{
    color: rgba(64, 189, 116, 0.74);
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    
}

.admin-ttl{
    position: absolute;
    top: 200px;
    left: 55px;
    z-index: 10;
}

.admin-img{
    position: relative;
    top: 160px;
}


.arme{
    width: 280px;
    position: relative;
    top: 89px;
}

.title-arme{
    font-family: 'East Sea Dokdo', cursive;
    color: #e2e2e2;
    font-size: 76px;
    position: absolute; 
    z-index: 10;
    top: 343px;
    left: 62px;
}
.armure{
    width: 280px;
    position: relative;
    top: 19px;
}

.title-armure{
    font-family: 'East Sea Dokdo', cursive;
    color: #e2e2e2;
    font-size: 66px;
    position: absolute; 
    z-index: 10;
    top: 493px;
    left: 49px;
    }

.consommable{
    width: 280px;
    position: relative;
    bottom: 49px;
}

.title-conso{
    font-family: 'East Sea Dokdo', cursive;
    color: #e2e2e2;
    font-size: 74px;
    position: absolute; 
    z-index: 10;
    bottom: 133px;
    left: 71px;
    }

.articles{
    position: relative;
    width: 100%;
    height: calc(100vh - 8rem);
    overflow-y: auto;
}

.article-main{
    position: relative;
    overflow-y: auto;
}

.add-article{
    position: absolute;
    right: 25px;
    top: 60px;
    background-color: bisque;
    font-size: 22px;
    font-family: 'East Sea Dokdo', cursive;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
}

.art-title{
    text-align: center;
    font-size: 30px;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
}

.modal-content {
    position: relative;
    z-index: 200;
    width: 100%;
    height: 100%;
    padding: 2rem;
    bottom: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: beige;
}

.modal-close {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    border: none;
    background: none;
}

.modif-content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.add-art-modal{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.add-art-modal div{
    width: 100%;
}

.add-art-modal input{
    width: 110px;
    height: 30px;
    position: relative;
    bottom: 7px;
}

.submit-add{
    font-family: 'East Sea Dokdo', cursive;
    display: block;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
}

.form{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
}

.form input{
    font-size: 20px;
}

.modal-caisse{
    position: absolute;
    bottom: 30px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;

    text-align: left;
}

.modal-caisse input{
    position: relative;
    bottom: 5px;
    height: 25px;
    width: 60px;
}

.modal-caisse input:invalid {
    background-color: red;
}

.pull-submit{
    font-family: 'East Sea Dokdo', cursive;
    background-color: white;
    width: 80px;
    font-size: 25px;
    position: relative;
    bottom: 4px;
    margin-left: 15px;
    border-radius: 10px;

}

.article-list{
    display : grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    /* gap: 2px; */
    padding: 35px 10px;
}

.article-item{
    display: flex;
    background-image: url("../img/livre2.png");
    background-size: cover;
    height: 250px;
}
.opacity {
    opacity: 0.5;
}

/* Bottons in display */
/* .main-btns {
    display: flex;
    align-items: center;
    gap: .5rem;
} */

/* .plus{
    
    color: grey;
    height: 1.5rem;
}
.minus {
    
    color: grey;
    height: 1.5rem;
} */

.main-number {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
    border-radius: 2rem;
    height: 2.5rem;
    width: 5rem;
    text-align: center;
    border: 1px solid #6E5522;
    background-color: #E6DECA;
    border-radius: 2rem;
    font-family: 'East Sea Dokdo',cursive;
    font-size: 19px;
}

.article-link{
    display: flex;
    width: 50%;
    height: 100%;
}

.article-img{
    position: relative;
    top: 60px;
    left: 35px;
    width: 130px;
    height: 130px;
}

.art-info{
    position: relative;
    right: 10px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 20px;
    width: 50%;
    height: 100%;
    color: black;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 42px;
}

.modify-art{
    position: absolute;
    top: 33px;
    right: 25px;
    border: 1px solid black;
    width: 22px;
    height: 19px;
    cursor: pointer;
    background: none;
}

.modify-img{
    height: 80%;
}

.art-stock{
    font-size: 30px;
}

.cart-section {
    background-image: url("../img/parch-panier-test.png");
    background-size: 380px;
    background-position: top 10px center;
    background-repeat: no-repeat;
    width: 20%;
    height:calc(100vh - 8rem);
}

.cart-header{
    display: flex;
    justify-content: center;
}

.cart-ttl {
    position: relative;
    bottom: 8px;
    margin-top: 2rem;
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    font-size: 3rem;
    width: 25%;
}
.delete-btn {
    font-size: 22px;
    font-family: 'East Sea Dokdo',cursive;
    margin-left: 25px;
    margin-top: 2rem;
    width: 40px;
    height: 30px;
    border: 1px solid #3b301a;
    border-radius: 15px;
}
.delete-btn:hover {
    cursor: pointer;
}


.final-cart-ul{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.active-cart{
    text-align: center;
    height: 51%;
    overflow-y: auto;
}

/* .cart-price{
    background-image: url("/img/panneau-price.png");
    background-size:cover ;
    height: 28%;
    background-position: top -30px center;
} */

.img-draco{
    position: absolute;
    left: -87px;
    bottom: 0px;
    width: 360px;
    overflow: hidden;
}
.validate {
    cursor: default;
}
.buy-btn {
    position: absolute;
    z-index: 1000;
    height: 5.9rem;
    top: 19rem;
    left: 7.5rem;
}
.buy-btn:hover {
    cursor: pointer;
    height: 6.2rem;
}


.articleCart{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 65%;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
}

.cart-img{
    width: 90px;
}

.cart-art-info{
    display: flex;
    flex-direction: column;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
}

.articleCart button{
    padding-bottom: 58px;
    border:none
}

.cross-button{
    height: 17px;
}

.price{
    position: relative;
    height: 41%;
}

.final-price{
    position: absolute;
    z-index: 100;
    left: -60px;
    bottom: 190px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2rem;
    color: darkblue;
    transform: rotate(-7deg);
}

.quantity-item{
    display: flex;
}

.span-price{
    color: black;
    font-weight: bold;
}

/* .art-button-moins{
    font-size: 20px;
    width: 25px;
}

.art-button-plus{
    font-size: 20px;
    width: 25px;

} */

.art-button{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
    width: 65px;
    height: 2.5rem;
    width: 5rem;
    text-align: center;
    border: 1px solid #3b301a;
    background-color: #dec18cb9;
    border-radius: 2rem;
}

.logo-white-img {
    margin-top: 10%;
    width: 200px;
    height: auto;
}

.modal-taxe {
    font-size: 15px;
}

.confirm-img {
    width: 6%;
    filter: invert(100%);
    margin-top: 15px;
}


.validate-cart-ttl {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: 'East Sea Dokdo', cursive;
}
.nom,
.prenom {
    font-size: 3rem;
    margin-left: 2rem;
    font-family: 'East Sea Dokdo', cursive;
}


.detail-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'East Sea Dokdo', cursive;
}
.final-list-to-validate{
    margin-top: 3rem;
    height: 40rem;
    background-color: rgba(255, 0, 0, 0.138);
}

.confirm-btn {
    background-color: white;
    height: 2rem;
}
